{{#if link}}
<h1>
    <a href={{link}}>{{msg}}</a>
</h1>
{{else}}
<h3>{{message}}</h3>
<h5>
    <a href="/followers">Refresh</a>
</h5>
<h3>Number of Current Followers: {{newfollowersNumber}}</h3>
<h2>
    <a href="/twitterUser/{{unfollowers}}/?type=Unfollowers">List of Unfollowers</a>
</h2>
<hr>
New Followers
<h2>
    <a href="/twitterUser/{{newfollowers}}/?type=Followers">List of Followers</a>
</h2>
{{/if}}

{{#if logged}}
<footer>
    <h5>
        <a href="/followers">Refresh</a>
    </h5>
    <h5>
        <a href="/logout">Logout</a>
    </h5>
</footer>
{{/if}}